.tree_header {
  border-bottom: 1px solid #e7e7e7;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;

  .budget_titles {
    align-items: center;
    display: flex;
    gap: 7.5rem;

    .column {
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .header_text {
        font-size: 0.8rem; /* adjust as needed */
        color: gray;
      }
    }
  }

  .header_text {
    font-size: 0.8rem; /* adjust as needed */
    color: gray;
  }
}
