.tree_header {
  border-bottom: 1px solid #e7e7e7;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;

      .iconButton {
      margin-left: auto;
      flex-shrink: 0;
      padding: 0;
      border: none;

      .icon {
        width: 15px;
        height: 15px;
        transform: rotate(0);
        transition: transform 0.1s;
      }

      .expanded {
        width: 15px;
        height: 15px;
        transform: rotate(-90deg);
        transition: transform 0.1s;
      }

      &:focus,
      &:active,
      &:focus-visible {
        outline: none;
        border: none;
      }
    }

  .budget_titles {
    align-items: center;
    display: flex;
    gap: 7.5rem;

    .column {
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .header_text {
        font-size: 0.8rem; /* adjust as needed */
        color: gray;
      }
    }
  }

  .header_text {
    font-size: 0.8rem; /* adjust as needed */
    color: gray;
  }
}
