.item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
  direction: rtl;
  justify-content: space-between;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .text {
      font-size: 0.8rem;
      color: black;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
    }

    .iconButton {
      margin-left: auto;
      flex-shrink: 0;
      padding: 0;
      border: none;

      .icon {
        width: 15px;
        height: 15px;
        transform: rotate(0);
        transition: transform 0.1s;
      }

      .expanded {
        width: 15px;
        height: 15px;
        transform: rotate(-90deg);
        transition: transform 0.1s;
      }

      &:focus,
      &:active,
      &:focus-visible {
        outline: none;
        border: none;
      }
    }
  }

  .budget_details {
    align-items: center;
    display: flex;
    gap: 7.5rem;

    .column {
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        font-size: 0.8rem;
        color: black;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
      }
    }
  }
}
