.item {
  width: 100%;
  display: flex;
  height: 4rem;
  border-bottom: 1px solid black;
  direction: rtl;


  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .item_content {
    direction: rtl;
    display: flex;
    gap: 10px; /* MUI `gap: 2` is 2 * 8px = 16px */
    width: 100%;

    .column {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .text {
        font-size: 0.8rem; /* adjust as needed */
        color: black;
      }
    }

    .column_large {
      flex: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .text {
        font-size: 0.8rem; /* adjust as needed */
        color: black;
      }
    }
  }

  .title {
    font-size: 1rem;
  }

  .iconButton {
    .icon {
      width: 15px;
      height: 15px;
      transform: rotate(0);
      transition: transform 0.1s;
    }

    .expanded {
      width: 15px;
      height: 15px;
      transform: rotate(-90deg);
      transition: transform 0.1s;
    }
  }
}
